@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Offers" asp-route-id1="47bc5369-960d-446d-3b0b-08d7bb0b44b2" asp-route-id2="e3ef358a-88f4-4085-907b-d78619ead53e">Today's offer</a>
</div>
