USE [master]
GO
/****** Object:  Database [FlixOneUsersDB]    Script Date: 3/1/2020 10:04:29 AM ******/
CREATE DATABASE [FlixOneUsersDB]
GO
USE [FlixOneUsersDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/1/2020 10:04:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[EmailId] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[SecretKey] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[UserType] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
