@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a home page.</p>
</div>
<br />
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/img/csharp_150.png" />
            <div class="card-body">
                <p class="card-text">Learn C# in 7-days from our expert.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/img/csharp_150.png" />
            <div class="card-body">
                <p class="card-text">Learn C# in 7-days from our expert.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/img/csharp_150.png" />
            <div class="card-body">
                <p class="card-text">Learn C# in 7-days from our expert.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">

            <img src="~/img/designpattern_150.jpg" />

            <div class="card-body">
                <p class="card-text">Our experts Gaurav and Jeffrey will walk you through the journey of Design pattenrs using various examples.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">Read...</small>
                </div>
            </div>
        </div>
    </div>
</div>