/****** Object:  Database [FlixOneVendorsDB]    Script Date: 2/27/2020 9:16:53 PM ******/
CREATE DATABASE [FlixOneVendorsDB]
 USE [FlixOneVendorsDB]
 GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 2/27/2020 9:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[AddressLine1] [varchar](150) NULL,
	[AddressLine2] [varchar](150) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[PIN] [varchar](8) NULL,
	[VendorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 2/27/2020 9:16:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [varchar](15) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](400) NULL,
	[URL] [varchar](250) NULL,
	[Logo] [nvarchar](max) NULL,
	[AddedOn] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200227153526_FlixOneVendorDB', N'3.1.0')
GO
INSERT [dbo].[Addresses] ([Id], [AddressLine1], [AddressLine2], [City], [State], [Country], [PIN], [VendorId]) VALUES (N'b6d45e72-a574-47a1-947f-179f6da95e75', N'Noida', N'Noida', N'Noida', N'Uttar Pradesh', N'India', N'201301', N'ae66c773-ba10-41cf-8fe8-f39b80e4369b')
GO
INSERT [dbo].[Addresses] ([Id], [AddressLine1], [AddressLine2], [City], [State], [Country], [PIN], [VendorId]) VALUES (N'a904f92a-ffe7-4f67-81e3-f3bdb1ad74b6', N'Noida', N'Noida', N'Noida', N'Uttar Pradesh', N'India', N'201301', N'e3ef358a-88f4-4085-907b-d78619ead53e')
GO
/****** Object:  Index [IX_Addresses_VendorId]    Script Date: 2/27/2020 9:16:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Addresses_VendorId] ON [dbo].[Addresses]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Vendors_VendorId]
GO
