@{
    ViewData["Title"] = "Identity Service";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FlixOne Identity service</h1>
    <p>You can check test identity using <a href="~/swagger">swagger doc</a>.</p>
</div>
